bin/
gen/
build/
.gradle
.idea
*.iml
/local.properties
gradlew
gradlew.bat
CompileCount.bat
CompileCount.py
CompileCount.txt
.externalToolBuilders/
.settings
proguard/
.classpath
.project
lint.xml
proguard-project.txt
project.properties
pom.xml
git_commit_count.bat
gradle.properties
