bin/
gen/
CompileCount.bat
CompileCount.py
CompileCount.txt
.externalToolBuilders/
.settings
proguard/
.classpath
.project
lint.xml
proguard-project.txt
project.properties
build.gradle
pom.xml
git_commit_count.bat